<div class="row m-3">
    <h2 class="content is-small">{{subject_name}}</h2>
    <h3 id='question_{{id}}' class="content is-medium">{{id}}: {{title}}</h3>
    <ul>
        <li>(A): {{choiceA}}</li>
        <li>(B): {{choiceB}}</li>
        <li>(C): {{choiceC}}</li>
        <li>(D): {{choiceD}}</li>
    </ul>
    {{!-- <button id="delete-question" type="button" class="button delete-question-btn is-yellow">Delete {{title}}</button> --}}

</div>
<hr>