<div class="row m-3">
    <h2 class="content is-small">{{subject_name}}</h2>
        <h3 class="content is-medium">{{id}}: {{title}}</h3>
    <ul>
        <li>(A): {{choiceA}}</li>
        <li>(B): {{choiceB}}</li>
        <li>(C): {{choiceC}}</li>
        <li>(D): {{choiceD}}</li>
    </ul>
</div>
<hr>