<div class="row">
    <h2>{{subject_name}}:({{id}}). {{title}}</h2>
    <ol>
        <li>(A): {{choiceA}}</li>
        <li>(B): {{choiceB}}</li>
        <li>(C): {{choiceC}}</li>
        <li>(D): {{choiceD}}</li>
    </ol>
</div>